
<%= simple_form_for @post do |f| %>
  <div class="form-group">
    <%= f.input :title, input_html: {placeholder: "must be unique.."} %>
  </div>
  <div class="form-group">
    <%= f.input :body, input_html: {class: "blog"} %>
  </div>
  <div class="form-group">
    <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name %>
  </div>
  <div class="form-group">
    <%= f.input :image %>
  </div>
  <div class="form-group">
  <%= f.submit(class: "btn btn-primary") %>
  </div>
<%end%>
