<div class="container main-content">

  <h1><%= @post.title %></h1>
  <% if @post.image.present? %>
    <p> <%= image_tag @post.image.url(:large) %> </p>
  <% end %>
  <p> <%= @post.body %> </p>

  <% @post.tags.each do |tag| %>
    <div class="label label-primary"><%= tag.name %></div>
  <% end %>

  <p> created by: <%= @post.user.full_name %> </p>
  <div class="">

  <% if can? :edit, @post %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary btn-sm" %>
  <% end %>
  <% if can? :destroy, @post %>
    <%= link_to "Delete", post_path(@post), method: "delete",
                                          class: "btn btn-danger btn-sm",
                                          data: {confirm: "Are you sure you want to delete?" }%>
  <% end %>
  </div>

  <!-- Favourites -->
  <div class="favourites">
    <%= render "/favourites/favourite", post: @post %>
  </div>

  <!-- Display Comments -->
  <div id="comments">
    <div class="comments-count">
      <h4> <%= @post.comments.count %> Comments</h4>
    </div>
    <div id="show-comments">
      <% @post.comments.order("created_at DESC").each do |comment| %>
        <%= render "/comments/comment", comment: comment %>
      <% end %>
    </div>
  </div>

  <div class="comment-form">
    <!-- Create a New Comment Form-->
    Create a Comment
      <%= render "/comments/form" %>
  </div>
</div>
